<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href="{% static "css/my_style.css" %}"/>
  <title>Django lv 2</title>
</head>
<h1> Hi, welcome to DJ lv 2 </h1>
<h2> Here are your access records</h2>

<div class = "djangtwo">
  {%if access_records%}
  <table>
    <thead>
      <th>Site name </th>
      <th>Date accessed </th>
    </thead>
    {%for acc in  access_records%}
    <tr>
      <td>{{ acc.name }}</td>
      <td>{{ acc.date }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No access records found</p>
  {% endif %}
</div>

<body>


</body>


</html>
